architecture: replication
auth:
  rootPassword: {{ db_root_pass }}
  database: {{ db_name }}
  username: {{ db_user }}
  password: {{ db_pass }}

primary:
  persistence:
    storageClass: linode-block-storage

secondary:
  replicaCount: 2
  persistence:
    storageClass: linode-block-storage

volumePermissions:
  enabled: true
