apiVersion: v1
kind: Secret
metadata:
    name: db-secret
    namespace: default
type: Opaque
data:
  db-user: {{ db_user | b64encode | quote }}
  db-name: {{ db_name | b64encode | quote }}
  db-root-pass: {{ db_root_pass | b64encode | quote }}
  db-pass: {{ db_pass | b64encode | quote }}
